/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.title-section {
  padding: 2rem 0rem 2rem;
  text-align: center;
  color: white;
  background-color: #6dabba;
  margin-bottom: 3rem;
}

.middle-section {
  padding: 7rem 0rem 7rem;
  text-align: center;
}

.footer-section {
  padding: 2rem 0rem 2rem;
  text-align: center;
  color: white;
  background-color: #fff292;
  margin-top: 3rem;
}

/* Bubbles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.title-bubble {
  margin: 2rem 0rem 3rem;
  color: white;
}

.bubble {
  background-color: #dc7eb1;
  height: 100px;
  line-height: 100px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  padding: 1rem;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bubble-padding {
  padding: 1rem;
}

.no-padding {
  padding: 0;
}

.bubble-text {
  margin: 0;
}

.blog-links {
  text-align: center;
}

/* Icons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.icon {
  color: white;
}

.icon:hover {
  color: #9479c5;
}

.icon-bubble {
  margin: 3rem 0rem 3rem;
}

/* Blog Posts
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.blog-posts {
  text-align: left;
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a:link {
  text-decoration: none;
  color: #6dabba;
}

a:-webkit-any-link {
  text-decoration: none;
}

.white-link {
  color: white;
}

@media (min-width: 400px) {
    .white-link {
        color: white;
    }
}

@media (min-width: 400px) {
    .white-link {
        background-color: red;
    }
}


.white-link:hover {
  color: #9479c5;
}

.reference {
  color: #dc7eb1;;
}
.reference:hover {
  color: #6dabba;
}

/* Images
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.wireframe {
  margin: 3rem auto;
  max-width: 30rem;
}

.wireframe {
  margin: 3rem auto;
  max-width: 30rem;
}

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.footer-text {
  margin:0;
}

.email-link {
  text-decoration: none;
  color: #6dabba;
}
