/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 4rem 0rem 4rem;
  text-align: center;
}

/* Title
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.title {
  color: white;
  background-color: #6dabba;
}
